@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.header{
    background-color: black;
    width: 100%;
    top: 0;
    height: 5%;
}

.navbar{
    display: flex;
}

.nav-icons{
    display: flex;
    gap: 5%;
    width: 100%;
    justify-content: end;
    margin-right: 1%;
    margin-top: 0.8%;
    padding: 1% 5% 0 20%;
}

a{
    color: grey;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-style: normal;
}

a:hover{
    color: rgb(173, 173, 173);
}

.nav-img{
    height: 10%;
    width: 5%;
}

.nav-img-1{
    transform: scale(0.05);
    transform-origin: top left;
    padding-top: 0;
    margin: 15% 0 0 30%;
}

.center-text{
    height: 18%;
    width: 55%;
    padding: 0;
    margin: 16% 0 0 10%;
    overflow: hidden;
}

.i-am{
    color: white;
    font-size:large;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.name{
    padding-left: 1%;
    font-size: 700%;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, #9845E8, #33D2FF, #DD5789);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.center-desc{
    background-color: transparent;
    padding: 1% 0 1% 1%;
    height: 25%;
    width: 70%;
    margin:0 0 0 10%;
}

.cent-desc{
    color: white;
    font-size:large;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 25px;
}

.contacts{
    margin: 10% 0 50% 15%;
    width: 70%;
    height: 12%;
    background-color: none;
}

button{
    width: 80%;
    height: 300%;
    background-color: black;
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight:bolder;
    font-size: 125%;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    border: none;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

button::after, button::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 45%, #9845E8, #33D2FF);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 1%;
    border-radius: 15px;
    animation: spin 6s linear infinite;
}

button::before{
    filter: blur(0.8rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.button-all{
    padding: 1% 1% 5% 1%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button a, button a:hover{
    color: white;
}