@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}
.header{
    background-color: black;
    width: 100%;
    top: 0;
    height: 50px;
}

.navbar{
    display: flex;
}

.nav-icons{
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: end;
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px 100px 0 500px
}

a{
    color: grey;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-style: normal;
}

a:hover{
    color: rgb(173, 173, 173);
}

.nav-img{
    height: 70px;
    width: 70px;
    overflow: hidden;
}

.nav-img-1{
    transform: scale(0.05);
    transform-origin: top left;
    padding-top: 0;
    margin-left: 10px;
    margin-top: 10px;
}

.center-text{
    height: 150px;
    width: 750px;
    padding: 0;
    margin: 320px 0 0 200px;
}

.i-am{
    color: white;
    font-size:large;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.name{
    padding-left: 10px;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, #9845E8, #33D2FF, #DD5789);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.center-desc{
    padding: 20px;
    height: 200px;
    width: 1200px;
    margin:0 0 0 200px;
}

.cent-desc{
    color: white;
    font-size:large;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 25px;
}

.contacts{
    margin: 500px 0 100px 300px;
    width: 1200px;
    height: 120px;
    background-color: none;
}

button{
    width: 280px;
    height: 80px;
    background-color: black;
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight:bolder;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    border: none;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

button::after, button::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #9845E8, #33D2FF, #DD5789, #9845E8);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 15px;
    animation: spin 3s linear infinite;
}

button::before{
    filter: blur(0.8rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.button-all{
    padding: 20px 10px 20px 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button a, button a:hover{
    color: white;
}